services:
  db:
    image: mariadb:11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: foodapp
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - dbdata:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    container_name: backend
    build: ./backend
    ports:
    - "3300:3300"
    volumes:
    - ./backend/uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    restart: unless-stopped



  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  dbdata:
